.card-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.show-more-btn{
    padding: 12px 16px;
    border-radius: 24px;
    font-weight: 780;
    font-size: 15px;
    color: white;
    border: 1px solid blue;
    background-color: blue;
    cursor: pointer;
    margin-left:47vw;
    margin-bottom: 5vh;
}